@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1>
        Цифровая система для эффективного растениеводства
    </h1>
    <p class="da">
        Дневник агронома - это программа для управления растениеводческим предприятием. <br />
        Вносите данные о имеющихся полях, культурах и технике. <br />
        Создавайте журнал работников предприятия.<br />
        Контролируйте посевы и объем урожая, отслеживайте плодородность в разные года.
    </p>
</div>
