@model Sowing

@{
    ViewData["Title"] = "Удаление посева";
}

<form asp-action="DeleteSowing" asp-controller="FarmerJob" asp-route-id="@Model.SowingId">
    @Html.HiddenFor(model => model.SowingId)
    <p>
        <label asp-for="SowingDate" class="form-label">Дата посева:</label><br />
        <input type="date" asp-for="SowingDate" class="form-control" disabled/>
    </p>
    <p>
        <label asp-for="FieldPlanting.FieldAddress" class="form-label">Поле:</label><br />
        <input type="text" asp-for="FieldPlanting.FieldAddress" class="form-control" disabled />
    </p>
    <p>
        <label asp-for="NumberCereal" class="form-label">Объем зерновых:</label><br />
        <input type="text" asp-for="NumberCereal" class="form-control" disabled/>
    </p>
    <p>
        <label asp-for="Cereal.CerealName" class="form-label">Зерновые:</label><br />
        <input type="text" asp-for="Cereal.CerealName" class="form-control" disabled />
    </p>
    <p>
        <label asp-for="SownArea" class="form-label">Площадь засева:</label><br />
        <input type="text" asp-for="SownArea" class="form-control" disabled />
    </p>
    <p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <input type="submit" value="Подтвердить удаление" class="btn btn-secondary" />
    </p>
</form>