@model Cereal

@{
    ViewData["Title"] = "Удаление зерновых";
}

<form asp-action="DeleteCereal" asp-controller="Reference" asp-route-id="@Model.CerealId">
    @Html.HiddenFor(model => model.CerealId)
    <p>
        <label asp-for="CerealName" class="form-label">Название культуры:</label><br />
        <input type="text" asp-for="CerealName" class="form-control" disabled />
    </p>
    <p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <input type="submit" value="Подтвердить удаление" class="btn btn-secondary" />
    </p>
</form>