@model ConsumptionFuel

@{
    ViewData["Title"] = "Удаление данных о расходе топлива";
}

<form asp-action="DeleteConsumptionFuel" asp-controller="FuelOperation" asp-route-id="@Model.ConsumptionId">
    @Html.HiddenFor(model => model.ConsumptionId)
    <p>
        <label asp-for="DateConsumption" class="form-label">Дата расхода:</label><br />
        <input type="date" asp-for="DateConsumption" class="form-control" disabled/>
    </p>
    <p>
        <label asp-for="FuelId" class="form-label">Вид топлива:</label><br />
        <input type="text" asp-for="Fuel.FuelName" class="form-control" disabled />
    </p>
    <p>
        <label asp-for="FuelVolume" class="form-label">Объем расхода топлива:</label><br />
        <input type="text" asp-for="FuelVolume" class="form-control" disabled />
    </p>
    <p>
        <label asp-for="EmployeeId" class="form-label">Сотрудник расхода:</label><br />
        <input type="text" asp-for="Employee.FullName" class="form-control" disabled />
    </p>
    <p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <input type="submit" value="Подтвердить удаление" class="btn btn-secondary" />
    </p>
</form>